/* RESET */

html {
    color: #3C3C3B;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #3C3C3B;
    text-shadow: none;
}

::selection {
    background: #3C3C3B;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* FONTS */

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_spartanregular';
    src: url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: initial;
}

h1 { font-size: 4em; }
h2 {  font-size: 3em; }
h3 {  font-size: 2em; }
h4 {  font-size: 1.6em; }
h5 {  font-size: 1.2em; }
h6 {  font-size: 0.8em; font-weight: 200; }

a {
    text-decoration: none;
    color: inherit;
}

/* MAIN */

body {
    font: 16px/26px latoregular, Helvetica, Arial;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #3C3C3B;
    padding: 0.2em 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid;
}

.header__right {
    flex: 0 0 50%;
    padding-right: 80px;
}

.header__left {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
}

.header__left a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    text-align: left;
}

.header__left a:last-child {
    margin-bottom: 0;
}

.header__left img {
    padding-right: 10px;
    flex-shrink: 0;
}

.header__left h5 {
    margin: 0;
    line-height: 1.4;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 35px 20px;
}

.content__left {
    flex: 0 0 50%;
    padding: 0 80px 0 0;
}

.content__right {
    flex: 0 0 45%;
    padding: 0 30px 0 0;
}

.tag {
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 5px;
}

.work {
    margin: 30px 0;
}

.work__title {
    display: flex;
    align-items: center;
}

.work__title h5 {
    padding-right: 10px;
}

.work h6 {
    padding-top: 10px;
}

.work p {
    padding-left: 15px;
}

.linkedin-cta {
    margin: 50px 0 30px 0;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid;
}

.linkedin-cta p {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 1em;
}

.linkedin-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.linkedin-link:hover {
    background-color: #3C3C3B;
    color: #fff;
}

.linkedin-link img {
    width: 20px;
    height: 20px;
    padding: 0;
}

.linkedin-link span {
    font-weight: bold;
    font-size: 1.1em;
}

.print-linkedin-disclaimer {
    display: none;
}

.skills {
    padding-top: 25px;
}

.skill {
    margin: 30px 0;
}

.skill h5 {
    padding-bottom: 20px;
}

.tags {
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: baseline;
        height: auto;
        padding: 25px 15px;
    }
    .header__left {
        align-self: flex-start;
        padding-top: 30px;
    }
    .header__left h5 {
        margin: 5px 0;
    }
    .content {
        flex-direction: column;
    }
}

@media print {
    .hide-on-print {
        display: none;
    }
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-size: 12px;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    h1 { font-size: 2.5em; }
    h2 {  font-size: 2em; }
    h3 {  font-size: 1.8em; }
    h4 {  font-size: 1.3em; }
    h5 {  font-size: 1em; }
    h6 {  font-size: 0.8em; }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    p {
        line-height: 1.5em;
    }
    .header {
        height: auto;
        min-height: 80px;
        padding: 10px 20px;
        margin-bottom: 0;
        page-break-after: avoid;
        page-break-inside: avoid;
    }
    .header__right {
        flex: 0 0 40%;
        padding-right: 15px;
    }
    .header__left {
        flex: 0 0 55%;
        padding: 0;
    }
    .header__left h5 {
        margin: 5px 0;
    }
    .content {
        padding: 15px 20px;
        margin-top: 0;
    }
    .content__left {
        flex: 0 0 40%;
        padding: 0 15px 0 0;
    }
    .content__right {
        flex: 0 0 55%;
        padding: 0 15px 0 0;
    }
    .tag {
        padding: 1px 10px;
        margin: 2px;
        height: 20px;
        line-height: 20px;
    }
    .skill {
        margin: 15px 0;
    }
    .skill h5 {
        padding-bottom: 10px;
    }
    .skills {
        padding-top: 20px;
    }
    .print-linkedin-disclaimer {
        display: block;
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid #000;
        text-align: center;
        font-size: 0.9em;
    }
    .print-linkedin-disclaimer p {
        margin: 0;
        padding: 0;
    }
}